### กาารเตรียมชุดข้อมูลตัวอย่างของแอปเปิ้ลสายพันธ์ุ Fuji ในประเทศ UK

- ทำการอ่านไฟล์ Apple462.csv
- คัดกรองชุดข้อมูลตัวอย่างเฉพาะประเทศ UK

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../Apple462.csv')
df = df.drop(df[df["region"] != "UK"].index)
df = df.drop(columns=["Unnamed: 0"])
df

            Date   Envi   Fuji   Gala region
156   27/12/2015  30482   2972   5894     UK
157   20/12/2015  25628   2546   7394     UK
158   13/12/2015  27149   2986   6458     UK
159    6/12/2015  35591  12527   4086     UK
160   29/11/2015  24190   2790   6031     UK
...          ...    ...    ...    ...    ...
3340    4/2/2018          8511  22490     UK
3341   28/1/2018  66654   1972   6962     UK
3342   21/1/2018  49711   2157   6343     UK
3343   14/1/2018  49335   7415   8299     UK
3344    7/1/2018  45937   2658   7511     UK

[169 rows x 5 columns]

- นำ features ของวันที่และสายพันธุ์ของแอปเปิ้ลสร้างชุดข้อมูลตัวอย่างใหม่

In [2]:
df_fuji = df.drop(columns=["Envi", "Gala", "region"])
df_fuji.head(10)

           Date   Fuji
156  27/12/2015   2972
157  20/12/2015   2546
158  13/12/2015   2986
159   6/12/2015  12527
160  29/11/2015   2790
161  22/11/2015   3256
162  15/11/2015  12086
163   8/11/2015   4652
164   1/11/2015   4360
165  25/10/2015  10090

- เปลี่ยนชนิดข้อมูลของวันที่จาก object เป็น date
- นำชุดข้อมูลตัวอย่างมาเรียงชุดข้อมูลตัวอย่างใหม่ตามวันที่จากเก่าไปใหม่

In [3]:
df_fuji["Date"] = pd.to_datetime(df_fuji["Date"], format="%d/%m/%Y")
df_fuji.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 156 to 3344
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    169 non-null    datetime64[ns]
 1   Fuji    169 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 4.0+ KB

In [4]:
df_fuji.sort_values(by="Date", inplace=True)
df_fuji["Date"] = df_fuji["Date"].dt.strftime("%d/%m/%Y")
df_fuji.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 207 to 3333
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    169 non-null    object
 1   Fuji    169 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

- ตรวจสอบชุดข้อมูลตัวอย่างว่ามี miss value ของ feature Fuji ในวันที่ใดบ้าง

In [5]:
result = df_fuji[df_fuji['Fuji'] == ' ']
result

            Date Fuji
1257  23/10/2016

- แก้ไข miss value โดยหาค่าเฉลี่ยของ 2 วันก่อนหน้า
- หลังจากแก้ไขแล้วให้เปลี่ยนชนิดข้อมูลของชุดข้อมูลตัวอย่างของ Fuji ให้เป็นจำนวนเต็ม ( Integer ) เนื่องจากค่าเฉลี่ยทีได้อาจได้ค่าเป็นทศนิยม ( Float )

In [6]:
import math
df_fuji.loc[1257, "Fuji"] = np.nan
df_fuji["Fuji"] = pd.to_numeric(df_fuji["Fuji"])
df_fuji = df_fuji.interpolate()
# df_fuji.loc[1257, "Fuji"] = math.ceil(df_fuji.loc[1257, "Fuji"])
# df_fuji.loc[1257, "Fuji"]
df_fuji["Fuji"] = df_fuji["Fuji"].astype("int64")

- บันทึกไฟล์ csv ของแอปเปิ้ลสายพันธ์ุ Fuji เพื่อใช้สำหรับสร้างโมเดลต่อไป

In [7]:
df_fuji.to_csv("fuji.csv", sep=",", encoding="utf-8", index=False)